<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deker.acct.mapper.AcctMapper">

    <insert id="insertMember" parameterType="AcctConditions">
        INSERT INTO MEMBER
        (
                MEM_ID
            ,   ID
            ,   PROFILE_IMG
            ,   NICKNAME
            ,   JOB_CODE
            ,   PLATFORM_CODE
            ,   AGREE_YN
            ,   CREATE_ID
            ,   UPDATE_ID
         )
         VALUES
        (
                #{memId}
            ,   #{id}
            ,   #{profileImg}
            ,   #{nickname}
            ,   #{jobCode}
            ,   #{platformCode}
            ,   #{agreeYn}
            ,   #{memId}
            ,   #{memId}
        )
    </insert>

    <insert id="insertDekerMember" parameterType="AcctConditions">
        INSERT INTO DEKER_MEMBER
        (
                MEM_ID
            ,   PASSWORD
        )
        VALUES (
                #{memId}
            ,   #{password}
        )
    </insert>

    <insert id="insertSocialMember" parameterType="AcctConditions">
        INSERT INTO SOCIAL_MEMBER
        (
                MEM_ID
            ,   SOCIAL_ID
        )
        VALUES
        (
                #{memId}
            ,   #{socialId}
        )
    </insert>

    <select id="selectMemCheck" parameterType="AcctConditions" resultType="Acct">
        <![CDATA[
        SELECT      MEM.MEM_ID          memId
                ,   MEM.PLATFORM_CODE   platformCode
                ,   MEM.NICKNAME        nickname
                ,   DM.PASSWORD         password
                ,   SM.SOCIAL_ID        socialId
        FROM MEMBER MEM
        LEFT OUTER JOIN DEKER_MEMBER DM ON MEM.MEM_ID = DM.MEM_ID
        LEFT OUTER JOIN SOCIAL_MEMBER SM ON MEM.MEM_ID = SM.MEM_ID
        WHERE   ID = #{id}
        AND     PLATFORM_CODE = #{platformCode}
        AND     MEM.LAST_DT > '9999-12-30'
        ]]>
    </select>

    <update id="updateMailCheck" parameterType="AcctConditions">
        INSERT INTO ACCT_MAIL_CHECK
        (
                ID
            ,   CHECK_STRING
            ,   UPDATE_DT
        )
        VALUES
        (
                #{id}
            ,   #{checkString}
            ,   SYSDATE())
        ON DUPLICATE KEY UPDATE
                CHECK_STRING = #{checkString}
            ,   UPDATE_DT = SYSDATE()
    </update>

    <select id="selectNicknameCheck" parameterType="AcctConditions" resultType="String">
        SELECT      NICKNAME        nickname
        FROM MEMBER
        WHERE   NICKNAME = #{nickname}
        AND     LAST_DT > '9999-12-30'
    </select>

    <select id="selectMailCheckString" parameterType="AcctConditions" resultType="Acct">
        SELECT ID id
        FROM ACCT_MAIL_CHECK
        WHERE ID = #{id}
        AND CHECK_STRING = #{checkString}
    </select>

    <select id="selectDekerLogin" parameterType="AcctConditions" resultType="Acct">
        SELECT      MEM.MEM_ID          memId
                ,   DM.PASSWORD         password
        FROM MEMBER MEM
        LEFT OUTER JOIN DEKER_MEMBER DM ON MEM.MEM_ID = DM.MEM_ID
        WHERE   ID = #{id}
        AND     PLATFORM_CODE = #{platformCode}
        AND     MEM.LAST_DT > '9999-12-30'
    </select>

    <select id="selectSocialLogin" parameterType="AcctConditions" resultType="Acct">
        SELECT      MEM.MEM_ID          memId
        FROM MEMBER MEM
        LEFT OUTER JOIN SOCIAL_MEMBER SM ON MEM.MEM_ID = SM.MEM_ID
        WHERE   ID = #{id}
        AND     PLATFORM_CODE = #{platformCode}
        AND     SOCIAL_ID = #{socialId}
        AND     MEM.LAST_DT > '9999-12-30'
    </select>

    <select id="selectMemberInfo" parameterType="AcctConditions" resultType="Acct">
        SELECT      ID              id
                ,   NICKNAME        nickname
                ,   JOB_CODE        jobCode
                ,   PROFILE_IMG     profileImg
        FROM MEMBER
        WHERE   MEM_ID = #{memId}
        AND     LAST_DT > '9999-12-30'
    </select>

    <select id="selectTagList" parameterType="AcctConditions" resultType="Acct">
        SELECT      MEM_ID      memId
                ,   CONTENTS    contents
        FROM MEMBER_TAG
        WHERE MEM_ID = #{memId}
    </select>

    <insert id="insertTag" parameterType="AcctConditions">
        INSERT INTO MEMBER_TAG
        (
                    MEM_TAG_ID
                ,   MEM_ID
                ,   CONTENTS
        )
        VALUES
        (
                    #{memTagId}
                ,   #{memId}
                ,   #{contents}
        )
    </insert>

    <delete id="deleteTag" parameterType="AcctConditions">
        DELETE FROM MEMBER_TAG
        WHERE MEM_ID = #{memId}
    </delete>

    <update id="updateMemberInfo" parameterType="AcctConditions">
        UPDATE MEMBER
        SET     JOB_CODE = #{jobCode}
            ,   PROFILE_IMG = #{profileImg}
        WHERE MEM_ID = #{memId}
    </update>

</mapper>
