<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deker.cmm.mapper.CMMMapper">

    <select id="selectCode" parameterType="CMMConditions" resultType="CMM">
        SELECT      CODE        code
                ,   CODE_NM     codeNm
        FROM CODE_DETAIL
        WHERE CODE_ID = #{codeId}
    </select>

    <update id="updateIds" parameterType="String">
        INSERT INTO IDS
        (TABEL_NAME, NEXT_ID)
        VALUES (#{tableName},0)
        ON DUPLICATE KEY UPDATE
        TABEL_NAME = #{tableName},
        NEXT_ID = NEXT_ID+1
    </update>

    <select id="selectIds" parameterType="String" resultType="Integer">
        SELECT NEXT_ID  nextId
        FROM IDS
        WHERE TABEL_NAME = #{tableName}
    </select>

    <insert id="insertImg" parameterType="ImgConditions">
        INSERT INTO IMAGE
        (
                IMG_ID
            ,   IMG_PATH
            ,   STRE_NM
            ,   IMG_NM
            ,   IMG_EXTENTION
            ,   FILE_SIZE
            ,   CREATE_ID
            ,   UPDATE_ID
        )
        VALUES
        (
                #{imgId}
            ,   #{imgPath}
            ,   #{streNm}
            ,   #{imgNm}
            ,   #{imgExtention}
            ,   #{fileSize}
            ,   #{memId}
            ,   #{memId}
        )
    </insert>

    <select id="selectImg" parameterType="String" resultType="Img">
        SELECT      IMG_PATH            imgPath
                ,   STRE_NM             streNm
                ,   IMG_NM              imgNm
                ,   IMG_EXTENTION       imgExtention
                ,   FILE_SIZE           fileSize
        FROM IMAGE
        WHERE IMG_ID = #{imgId}
    </select>

</mapper>

