<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deker.post.mapper.PostMapper">

    <select id="selectMyPostList" parameterType="PostConditions" resultType="Post">
        SELECT      PL.POST_ID          postId
                ,   PD.POST_IMG         postImg
        FROM POST_LIST PL
        LEFT OUTER JOIN POST_DETAIL PD  ON  PL.POST_ID = PD.POST_ID
                                        AND PD.USE_YN = 'Y'
        WHERE 1=1
        AND PL.MEM_ID = #{memId}
        AND PL.USE_YN = 'Y'
		LIMIT				#{startRowNo}, #{endRowNo}
    </select>

    <select id="selectMyPostListCount" parameterType="PostConditions" resultType="Integer">
        SELECT      COUNT(*)
        FROM POST_LIST PL
        LEFT OUTER JOIN POST_DETAIL PD  ON  PL.POST_ID = PD.POST_ID
                                        AND PD.USE_YN = 'Y'
        WHERE 1=1
        AND PL.MEM_ID = #{memId}
        AND PL.USE_YN = 'Y'
    </select>

    <select id="selectMemberProfileImg" parameterType="PostConditions" resultType="Post">
        SELECT      PROFILE_IMG     profileImg
        FROM MEMBER
        WHERE   MEM_ID = #{memId}
        AND     LAST_DT > '9999-12-30'
    </select>


    <insert id="insertPost" parameterType="MyPost">
        insert into study_gh.POST_LIST
        (
            POST_ID, MEM_ID, JOB_CODE, MOOD_CODE, MTRL_CODE
        )
        VALUES (
                   #{communityId}, #{memId}, #{jobCode}, #{moodCode}, #{materialCode}
               )
    </insert>

    <insert id="insertPostDetail" parameterType="MyPost">
        insert into study_gh.POST_DETAIL
        (
            POST_DETAIL_ID, POST_ID, POST_IMG, CONTENTS
        )
        VALUES (
                   #{postDetailId}, #{communityId}, #{postImg}, #{communityContent}
               )
    </insert>

    <insert id="insertPostTag" parameterType="MyPost">
        insert into study_gh.POST_TAG
        (
            post_tag_id, post_detail_id, contents
        )
        VALUES (
                   #{postTagId}, #{postDetailId}, #{tag}
               )
    </insert>

    <insert id="insertPostItem" parameterType="CommunityProducts">
        insert into study_gh.POST_ITEM
        (
            POST_ITEM_ID, POST_DETAIL_ID, PRODUCT_ID,  MAKET_CONTENTS, LOCATIONX, LOCATIONY
        )
        VALUES (
                   #{id}, #{postDetailId}, #{productId}, #{productDescription}, #{offsetX}, #{offsetY}
               )
    </insert>




</mapper>
