<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deker.mkt.mapper.ProductMapper">

    <select id="getBestSaleProductList" resultType="com.deker.mkt.model.ProductModel">
        select *
        from study_gh.MKT_PRODUCT_SALES s, study_gh.MKT_PRODUCT p
        where p.MKT_PRODUCT_ID=s.MKT_PRODUCT_ID
        order by s.PRODUCT_SALE desc limit 8
    </select>

    <select id="getBestCategoryProductList" resultType="com.deker.mkt.model.ProductModel">
        select *
        from study_gh.MKT_PRODUCT_SALES s, study_gh.MKT_PRODUCT p
        where p.MKT_PRODUCT_ID=s.MKT_PRODUCT_ID and p.PRODUCT_CATEGORY='${code}'
        order by s.PRODUCT_SALE desc limit 8
    </select>

    <select id="getNewCategoryProductList" resultType="com.deker.mkt.model.ProductModel">
        select *
        from study_gh.MKT_PRODUCT p
        where p.PRODUCT_CATEGORY='${code}'
        order by p.PRODUCT_REGISTRATION desc limit 8
    </select>






</mapper>

