<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deker.mkt.mapper.ProductMapper">


    <select id="getBestSaleProductList" resultType="ProductModel">
        select p.MKT_PRODUCT_ID AS mktProductId,
               PRODUCT_PRICE AS productPrice,
               PRODUCT_NAME AS productName,
               PRODUCT_IMG AS productImg
        from study_gh.MKT_PRODUCT p,
             (select PRODUCT_ID
              from study_gh.MKT_ORDER
              where ORDER_CONFIRM = 'Y'
              group by PRODUCT_ID
              order by COUNT(PRODUCT_ID) desc limit 8) o
        where p.MKT_PRODUCT_ID = o.PRODUCT_ID
    </select>



    <select id="getNoBestSaleProductList" parameterType="ProductOrder" resultType="ProductModel">
        select p.MKT_PRODUCT_ID AS mktProductId,
               PRODUCT_PRICE AS productPrice,
               PRODUCT_NAME AS productName,
               PRODUCT_IMG AS productImg
        from study_gh.MKT_PRODUCT p
    </select>



    <select id="getProductCategory" resultType="MarketCategory">
        select CATEGORY_ID AS categoryId,
               CATEGORY_IMG AS categoryImg,
               CATEGORY_NAME AS categoryName
        from study_gh.MKT_CATEGORY c

    </select>



    <select id="getBestProductMore" resultType="ProductModel">
        select p.MKT_PRODUCT_ID AS mktProductId,
               PRODUCT_PRICE AS productPrice,
               PRODUCT_QUANTITY AS productQuantity,
               PRODUCT_CATEGORY AS productCategory,
               PRODUCT_EXPLAIN AS productExplain,
               PRODUCT_NAME AS productName,
               PRODUCT_IMG AS productImg
        from study_gh.MKT_PRODUCT p,
             (select PRODUCT_ID
              from study_gh.MKT_ORDER
              where ORDER_CONFIRM = 'Y'
              group by PRODUCT_ID
              order by COUNT(PRODUCT_ID) desc) o
        where p.MKT_PRODUCT_ID = o.PRODUCT_ID
        limit #{start}, #{end}
    </select>


    <select id="getBestCategoryProductMore" resultType="ProductModel">
        select p.MKT_PRODUCT_ID AS mktProductId,
               PRODUCT_PRICE AS productPrice,
               PRODUCT_QUANTITY AS productQuantity,
               PRODUCT_CATEGORY AS productCategory,
               PRODUCT_EXPLAIN AS productExplain,
               PRODUCT_NAME AS productName,
               PRODUCT_IMG AS productImg
        from study_gh.MKT_PRODUCT p,
             (select PRODUCT_ID
              from study_gh.MKT_ORDER
              where ORDER_CONFIRM = 'Y'
              group by PRODUCT_ID
              order by COUNT(PRODUCT_ID) desc) o
        where p.MKT_PRODUCT_ID = o.PRODUCT_ID and PRODUCT_CATEGORY = #{code}
        limit #{start}, #{end}
    </select>




    <select id="getNewCategoryProductList" resultType="ProductModel">
        select MKT_PRODUCT_ID AS mktProductId,
               PRODUCT_PRICE AS productPrice,
               PRODUCT_QUANTITY AS productQuantity,
               PRODUCT_CATEGORY AS productCategory,
               PRODUCT_EXPLAIN AS productExplain,
               PRODUCT_NAME AS productName
        from study_gh.MKT_PRODUCT p
        where p.PRODUCT_CATEGORY=#{code}
        order by p.CREATE_DT desc limit 8
    </select>




    <select id="getProductDetail" resultType="ProductDetailModel">
        select MKT_PRODUCT_ID AS mktProductId,
               PRODUCT_NAME AS productName,
               PRODUCT_PRICE AS productPrice,
               PRODUCT_IMG AS productImg
               from study_gh.MKT_PRODUCT
        where MKT_PRODUCT_ID=#{productId}
    </select>


    <select id="getProductDetailOption" resultType="ProductDetailOption">
        select PRODUCT_PRICE AS productPrice,
               OPTION1 AS option1,
               OPTION1_DATA AS option1Data,
               CODE_NAME('OPK',OPTION1) AS option1Name,
               MKT_OPTION_NAME(PRODUCT_ID,OPTION1,OPTION1_DATA) AS option1DataName,
               OPTION2 AS option2,
               OPTION2_DATA AS option2Data,
               CODE_NAME('OPK',OPTION2) AS option2Name,
               MKT_OPTION_NAME(PRODUCT_ID,OPTION2,OPTION2_DATA) AS option2DataName,
               OPTION_QUANTITY AS productQuantity
        from  study_gh.MKT_PRODUCT_OPTION
        where PRODUCT_ID=#{productId}
    </select>



    <select id="getProductDetailExplain" resultType="ProductDetailExplain">
        select SET_ID AS setId,
               DETAIL_EXPLAIN AS detailExplain,
               IMG_ID AS detailImg
        from study_gh.MKT_DETAIL_PAGE
        where PRODUCT_ID=#{productId}
    </select>


    <select id="getCategoryId" resultType="String">
        select PRODUCT_CATEGORY
        from study_gh.MKT_PRODUCT p
        where MKT_PRODUCT_ID = #{productId}
    </select>


    <select id="getRecommendedProduct" resultType="RecommendedProduct">
        select PRODUCT_NAME AS productName,
               PRODUCT_IMG AS productImg,
               PRODUCT_ID AS productId,
               PRODUCT_PRICE AS productPrice
        from study_gh.MKT_PRODUCT p,
             (select PRODUCT_ID
              from study_gh.MKT_ORDER
              where ORDER_CONFIRM = 'Y'
              group by PRODUCT_ID
              order by COUNT(PRODUCT_ID) desc) o
        where p.PRODUCT_CATEGORY = #{categoryId} and p.MKT_PRODUCT_ID = o.PRODUCT_ID
        limit 4
    </select>



    <select id="getProductReview" parameterType="ProductReview" resultType="ProductReview">
        select r.MKT_REVIEW_ID AS mktReviewId,
               MY_STAR AS myStar,
               REVIEW_STRING AS reviewString,
               r.CREATE_DT AS reviewDate,
               r.MEM_ID AS memId,
               p.PRODUCT_NAME AS productName,
               m.NICKNAME AS nickname,
               p.PRODUCT_IMG AS productImg,
               r.PRO_REVIEW_IMG AS proReviewImg,
               MKT_OPTION_NAME(mpo.PRODUCT_ID, mpo.OPTION2, mpo.OPTION2_DATA) AS option2DataName,
               MKT_OPTION_NAME(mpo.PRODUCT_ID, mpo.OPTION1, mpo.OPTION1_DATA) AS option1DataName
        from study_gh.MKT_REVIEW r, study_gh.MKT_PRODUCT p, study_gh.MEMBER m, study_gh.MKT_PRODUCT_OPTION mpo
        where r.PRODUCT_ID=#{productId} and p.MKT_PRODUCT_ID= #{productId}
          and mpo.MKT_PRODUCT_OPTION_ID = r.OPTION_ID and r.MEM_ID = m.MEM_ID
        limit #{start}, #{end}
    </select>





    <select id="getProductOptionId" resultType="string">
        select MKT_PRODUCT_OPTION_ID
        from study_gh.MKT_PRODUCT_OPTION
        where OPTION1 = #{option1} and OPTION1_DATA = #{option1Data}
        <choose>
            <when test="option2 == null">
                and OPTION2 IS NULL and OPTION2_DATA IS NULL
            </when>
            <otherwise>
                and OPTION2 = #{option2} and OPTION2_DATA= #{option2Data}
            </otherwise>
        </choose>
    </select>




    <insert id="insertProductCart" parameterType="ProductOption">
        insert into study_gh.MKT_CART
        (
         MKT_CART_ID,
         MEM_ID,
         PRODUCT_ID,
         PRICE,
         CART_QUANT,
         PODUCT_OPTION
        )
        VALUES (
                #{mktCartId},
                #{memId},
                #{mktProductId},
                #{price},
                #{cartQuant},
                #{productOption}
               )
    </insert>



    <insert id="insertRecentProduct" parameterType="RecentProduct">
        insert into study_gh.MKT_RECENT_PRODUCT
        (
            MKT_RECENT_PRODUCT_ID,
            MEM_ID,
            PRODUCT_ID
        )
        VALUES (
                   #{mktRecentProductId},
                   #{memId},
                   #{productId}
               )
    </insert>


    <select id="getAddress" resultType="MarketAddress">
        select ADD_NAME AS addName,
               PHONE_NUMBER AS phoneNumber,
               ADD_ZIP AS addZip,
               ADDRESS AS address,
               ADD_DETAIL AS addDetail,
               REQUEST AS request
        from study_gh.MKT_ADDRESS a
        where a.MEM_ID = #{memId}
    </select>

    <select id="selectProductTracking" parameterType="ProductOrder" resultType="ProductTracking">
        SELECT      MP.MKT_PRODUCT_ID                                                   productId
                ,   MPO.MKT_PRODUCT_OPTION_ID                                           productOptionId
                ,   MP.PRODUCT_EXPLAIN                                                  productExplain
                ,   'deker'                                                             productBrand
                ,   MP.PRODUCT_IMG                                                      productImg
                ,   OPTION1                                                             option1
                ,   OPTION1_DATA                                                        option1Data
                ,   CODE_NAME('OPK',MPO.OPTION1)                                        option1Nm
                ,   MKT_OPTION_NAME(MPO.PRODUCT_ID,MPO.OPTION1,MPO.OPTION1_DATA)        option1DataNm
                ,   OPTION2                                                             option2
                ,   OPTION2_DATA                                                        option2Data
                ,   CODE_NAME('OPK',MPO.OPTION2)                                        option2Nm
                ,   MKT_OPTION_NAME(MPO.PRODUCT_ID,MPO.OPTION2,MPO.OPTION2_DATA)        option2DataNm
                ,   MO.DELIVERY_CODE                                                    deliveryCode
                ,   CODE_NAME('TTC',MO.DELIVERY_CODE)                                   deliveryName
                ,   MA.ADD_NAME                                                         addNmae
                ,   MA.ADD_ZIP                                                          addZip
                ,   CONCAT(MA.ADDRESS,' ',MA.ADD_DETAIL)                                address
                ,   MO.WAYBILL                                                          waybill
        FROM study_gh.MKT_ORDER MO
        LEFT OUTER JOIN study_gh.MKT_ADDRESS MA ON MO.ADD_ID = MA.ADD_ID
        LEFT OUTER JOIN study_gh.MKT_PRODUCT_OPTION MPO on MO.OPTION_ID = MPO.MKT_PRODUCT_OPTION_ID
        LEFT OUTER JOIN study_gh.MKT_PRODUCT MP on MO.PRODUCT_ID = MP.MKT_PRODUCT_ID
        WHERE   MO.ORDER_ID = #{orderId}
    </select>

    <select id="selectLevelCodeNm" parameterType="String" resultType="String">
        SELECT CODE_NM      levelNm
        FROM study_gh.CODE_DETAIL
        WHERE   CODE_ID='ODS'
        AND     CODE=#{level}
    </select>


    <select id="selectDeliveryStatus"  resultType="DeliveryStatus">
        SELECT WAYBILL AS waybill,
               DELIVERY_CODE AS deliveryCode,
               ORDER_ID AS orderId
        FROM study_gh.MKT_ORDER
        WHERE   ORDER_STATE in (1, 2, 3, 4, 5) and ORDER_CONFIRM = 'N'
    </select>

    <select id="selectMyShoppingOrderState" parameterType="MyShoppingConditions" resultType="MyShoppingOrderState">
        SELECT      ORDER_STATE             orderState
                ,   COUNT(ORDER_STATE)      orderStateCount
        FROM MKT_ORDER
        WHERE   1=1
        AND     MEM_ID = #{memId}
        AND     USE_YN = 'Y'
        GROUP BY ORDER_STATE
    </select>

    <select id="selectMyShoppingList" parameterType="MyShoppingConditions" resultType="MyShoppingList">
        SELECT      MP.MKT_PRODUCT_ID                                                   productId
                ,   MO.ORDER_ID                                                         orderId
                ,   MP.PRODUCT_IMG                                                      productImg
                ,   'deker'                                                             productBrand
                ,   MP.PRODUCT_NAME                                                     productName
                ,   OPTION1                                                             option1
                ,   OPTION1_DATA                                                        option1Data
                ,   CODE_NAME('OPK',MPO.OPTION1)                                        option1Nm
                ,   MKT_OPTION_NAME(MPO.PRODUCT_ID,MPO.OPTION1,MPO.OPTION1_DATA)        option1DataNm
                ,   OPTION2                                                             option2
                ,   OPTION2_DATA                                                        option2Data
                ,   CODE_NAME('OPK',MPO.OPTION2)                                        option2Nm
                ,   MKT_OPTION_NAME(MPO.PRODUCT_ID,MPO.OPTION2,MPO.OPTION2_DATA)        option2DataNm
                ,   MO.CREATE_DT                                                        createDt
                ,   MO.ORDER_STATE                                                      orderState
                ,   CODE_NAME('ODS',MO.ORDER_STATE)                                     orderStateNm
                ,   MO.ORDER_PRICE                                                      orderPrice
                ,   MO.ORDER_QUANTITY                                                   orderQuantity
        FROM MKT_ORDER MO
        LEFT OUTER JOIN MKT_PRODUCT MP on MO.PRODUCT_ID = MP.MKT_PRODUCT_ID
        LEFT OUTER JOIN study_gh.MKT_PRODUCT_OPTION MPO on MO.OPTION_ID = MPO.MKT_PRODUCT_OPTION_ID
        WHERE   1=1
        AND     MO.MEM_ID = #{memId}
        AND     MO.CREATE_DT > #{period}
        AND     MO.ORDER_STATE = #{deliveryState}
		LIMIT				#{startRowNo}, #{endRowNo}
    </select>

    <select id="selectMyShoppingListCount" parameterType="MyShoppingConditions" resultType="Integer">
        SELECT      COUNT(*)
        FROM MKT_ORDER MO
        LEFT OUTER JOIN MKT_PRODUCT MP on MO.PRODUCT_ID = MP.MKT_PRODUCT_ID
        LEFT OUTER JOIN study_gh.MKT_PRODUCT_OPTION MPO on MO.OPTION_ID = MPO.MKT_PRODUCT_OPTION_ID
        WHERE   1=1
        AND     MO.MEM_ID = #{memId}
        AND     MO.CREATE_DT > #{period}
        AND     MO.ORDER_STATE = #{deliveryState}
    </select>

    <update id="updateOrderState" parameterType="DeliveryUpdate">

        UPDATE study_gh.MKT_ORDER
        SET ORDER_STATE =#{level}
        WHERE ORDER_ID = #{id}

    </update>



    <update id="updateCompletedDate" parameterType="DeliveryUpdate">
        UPDATE study_gh.MKT_ORDER
        SET COMPLETED_DT =#{timeString}
        WHERE ORDER_ID = #{id}
    </update>


    <select id="selectDeliveryComplete"  resultType="DeliveryUpdate">
        SELECT COMPLETED_DT AS timeString,
               ORDER_ID AS id
        FROM study_gh.MKT_ORDER
        WHERE   ORDER_STATE = 6 and ORDER_CONFIRM = 'N'
    </select>


    <update id="updateOrderConfirm" parameterType="DeliveryUpdate">

        UPDATE study_gh.MKT_ORDER
        SET ORDER_CONFIRM ='Y'
        WHERE ORDER_ID = #{id}

    </update>


    <insert id="regReview" parameterType="ProductReview">
        insert into study_gh.MKT_REVIEW
        (
            MKT_REVIEW_ID,
            MEM_ID,
            PRODUCT_ID,
            IMG_ID,
            MY_STAR,
            REVIEW_STRING,
            PRO_REVIEW_IMG,
            ORDER_ID,
            OPTION_ID
        )
        VALUES (
                   #{mktReviewId},
                   #{memId},
                   #{productId},
                   ( SELECT IMG_ID FROM study_gh.MKT_PRODUCT
                   WHERE MKT_PRODUCT_ID = #{productId}),
                   #{myStar},
                   #{reviewString},
                   #{proReviewImg},
                   #{orderId},
                   ( SELECT OPTION_ID FROM study_gh.MKT_ORDER
                     WHERE MKT_ORDER.ORDER_ID = #{orderId})
               )
    </insert>

    <update id="modReview" parameterType="ProductReview">

        UPDATE study_gh.MKT_REVIEW
        SET <if test="myStar != null">
                MY_STAR = #{myStar}
            </if>,
            <if test="proReviewImg != null">
                PRO_REVIEW_IMG = #{proReviewImg}
            </if>,
            <if test="reviewString != null">
                REVIEW_STRING = #{reviewString}
            </if>
        WHERE MKT_REVIEW_ID = #{mktReviewId}

    </update>


    <select id="getRegProduct" resultType="ProductModel">
        select MKT_PRODUCT_ID AS mktProductId,
               PRODUCT_NAME AS productName,
               PRODUCT_IMG AS productImg,
               'deker' AS productBrand
        from study_gh.MKT_PRODUCT
        where PRODUCT_NAME like CONCAT('%', #{keyword}, '%') or
              PRODUCT_EXPLAIN like CONCAT('%', #{keyword}, '%')
    </select>





</mapper>

